@model Vidly.Models.Movie
@using Vidly.Models

@{
    ViewBag.Title = "ShowMovieData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@( ((Movie) ViewData["Movie"]).Name)</h2>
@Mo
<h3>@ViewBag.AnotherDisneyHit</h3>